{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!--COMIENZO DEL TITULO-->
    <title>
        
        {% block page_title %}
        {% endblock %}
        
    </title>
    <!--FIN DEL TITULO-->


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/nunito.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--COMIENZO DEL CUSTOM CC-->
    {% block title %}
    {% endblock %}
    <!--FIN DEL CUSTOM CSS-->

</head>

<body id="page-top">
    <!--COMIENZO DE LOS MODALS DE LA PAGINA-->
    {% block modals %}
    {% endblock %}
    <!--FIN DE LOS MODALS DE LA PAGINA-->

    <div id="wrapper">

        <!--BEGINNING OF SIDEBAR-->
        <ul class="nav flex-column shadow d-flex sidebar mobile-hid" id="sidebar">
            <li class="nav-item logo-holder">
                <div class="text-center text-white logo py-4 mx-4" id="bootstrap-override"><a class="text-white text-decoration-none" id="title" href="#"><strong>ENERCOM</strong></a><a class="text-white float-right" id="sidebarToggleHolder" href="#"><i class="fas fa-bars" id="sidebarToggle"></i></a></div>
            </li>
            <li class="nav-item dropdown"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link text-left text-white py-1 px-0 position-relative" href="#"><i class="fas fa-pencil-ruler mx-3"></i><span class="text-nowrap mx-2">Diseño</span><i class="fas fa-caret-down float-none float-lg-right fa-sm"></i></a>
                <div
                    role="menu" class="dropdown-menu border-0 animated fadeIn"><a role="presentation" class="dropdown-item text-white" href="navbar.html"><span>Resumen</span></a><a role="presentation" class="dropdown-item text-white" href="{% url 'apertura_diseño' %}"><span>Apertura de proyectos</span></a><a role="presentation"
                        class="dropdown-item text-white" href="#"><span>Cierre de proyectos</span></a></div>
            </li>
            <li class="nav-item dropdown"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link text-left text-white py-1 px-0 position-relative" href="#"><i class="fas fa-restroom mx-3"></i><span class="text-nowrap mx-2">Recursos humanos</span><i class="fas fa-caret-down float-none float-lg-right fa-sm"></i></a>
                <div
                    role="menu" class="dropdown-menu border-0 animated fadeIn"><a role="presentation" class="dropdown-item text-white" href="navbar.html"><span>Resumen</span></a><a role="presentation" class="dropdown-item text-white" href="{% url 'nuevo_empleado_form' %}"><span>Nuevo empleado</span></a></div>
            </li>
            <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="#"><i class="far fa-money-bill-alt mx-3"></i><span class="text-nowrap mx-2">Comercialización</span></a></li>
            <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="#"><i class="far fa-building mx-3"></i><span class="text-nowrap mx-2">Ejecución eléctrica</span></a></li>
            <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="#"><i class="far fa-life-ring mx-3"></i><span class="text-nowrap mx-2">Herramientas</span></a></li>
            <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="#"><i class="fas fa-archive mx-3"></i><span class="text-nowrap mx-2">Archive</span></a></li>
            <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="#"><i class="fas fa-chart-bar mx-3"></i><span class="text-nowrap mx-2">Statistics</span></a></li>
            <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="#"><i class="fas fa-sign-out-alt mx-3"></i><i class="fa fa-caret-right d-none position-absolute"></i><span class="text-nowrap mx-2">Log out</span></a></li>
        </ul>
        <!--END OF SIDEBAR-->

    <div class="d-flex flex-column" id="content-wrapper">

        <!--BEGINNING OF TOP BAR-->
        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav flex-nowrap ml-auto">
                    <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                        <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto navbar-search w-100">
                                <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                    <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                        <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                role="menu">
                                <h6 class="dropdown-header">alerts center</h6>
                                <a class="d-flex align-items-center dropdown-item" href="#">
                                    <div class="mr-3">
                                        <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 12, 2019</span>
                                        <p>A new monthly report is ready to download!</p>
                                    </div>
                                </a>
                                <a class="d-flex align-items-center dropdown-item" href="#">
                                    <div class="mr-3">
                                        <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 7, 2019</span>
                                        <p>$290.29 has been deposited into your account!</p>
                                    </div>
                                </a>
                                <a class="d-flex align-items-center dropdown-item" href="#">
                                    <div class="mr-3">
                                        <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 2, 2019</span>
                                        <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                    </div>
                                </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                        </div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                        <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                role="menu">
                                <h6 class="dropdown-header">alerts center</h6>
                                <a class="d-flex align-items-center dropdown-item" href="#">
                                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="avatars/avatar4.jpeg">
                                        <div class="bg-success status-indicator"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                        <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                    </div>
                                </a>
                                <a class="d-flex align-items-center dropdown-item" href="#">
                                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="avatars/avatar2.jpeg">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                        <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                    </div>
                                </a>
                                <a class="d-flex align-items-center dropdown-item" href="#">
                                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="avatars/avatar3.jpeg">
                                        <div class="bg-warning status-indicator"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                        <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                    </div>
                                </a>
                                <a class="d-flex align-items-center dropdown-item" href="#">
                                    <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="avatars/avatar5.jpeg">
                                        <div class="bg-success status-indicator"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                        <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                    </div>
                                </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                        </div>
                        <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                    </li>
                    <div class="d-none d-sm-block topbar-divider"></div>
                    <li class="nav-item dropdown no-arrow" role="presentation">
                        <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Eduardo Aguilar&nbsp;<i class="fa fa-chevron-down"></i></span></a>
                            <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
                                role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                <a
                                    class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--END OF TOPBAR-->

        <div id="content">

            <!--COMIENZO DEL CONTENIDO DE LA PAGINA-->
            {% block content %}
            {% endblock %}
            <!--FIN DEL CONTENIDO DE LA PAGINA-->

        </div>

        <!--COMIENZO DEL FOOTER DE LA PAGINA-->
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © ENERCOM 2020</span></div>
            </div>
        </footer>
        <!--FINAL DEL FOOTER DE LA PAGINA-->

    </div>

    <!--COMIENZO DEL BOTON PARA SUBIR DE LA PAGINA-->
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <!--FIN DEL BOTON PARA SUBIR DE LA PAGINA-->

    <!--COMIENZO DEL JS PARA TODAS LAS PAGINAS-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/jquery.easing.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <!--FIN DEL JS PARA TODAS LAS PAGINAS-->

    <!--COMIENZO DEL JS PERSONAL DE LA PAGINA-->
    {% block custom_javascript %}
    {% endblock %}
    <!--FIN DEL JS PERSONAL DE LA PAGINA-->

</body>

</html>